---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
export async function getStaticPaths() {
  const journalEntries = await getCollection("journal");
  return journalEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"journal">;
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={`dukc :: ${entry.data.title}`}>
  <main class="flex flex-col min-h-screen">
    <div
      class="w-full h-[50vh] flex justify-between items-end p-32 bg-cover bg-center"
      style={`background-image: url("${entry.data.image}");`}
    >
      <h1
        class="text-h1 font-bold font-serif text-white mix-blend-difference leading-none"
      >
        {entry.data.title}
      </h1>
      <p class="text-body text-white mix-blend-difference leading-none">
        {entry.data.date}
      </p>
      {
        entry.data.tags.map((tag) => (
          <p class="text-body text-white mix-blend-difference leading-none">
            {tag}
          </p>
        ))
      }
    </div>
    <div class="flex justify-center p-32">
      <article
        class="w-full prose-code:text-white prose-code:rounded-lg prose prose-blockquote:text-white leading-[210%] prose-headings:text-white prose-h1:text-h1 prose-h2:text-h2 prose-h3:text-h3 prose-h4:text-h4 prose-h5:text-h5 flex flex-col"
      >
        <Content class="text-body w-full" />
      </article>
    </div>
  </main>
</Layout>
